/*GENERAL*/
html{
  font-size: 18px;
  font-family: Helvetica;
  width: ;
}
/*HEADER/LOGO*/


.containerheader{
  display: inline-flex;
  align-items: center;
  width: 960px;
  font-size: 1rem;
  background-color: black;
  color: white;

}
.headerimg{
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
}

/*MAIN BANNER*/


.containerbanner{
  display: flex;

  height: 25rem;
  width: 1200px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.motorcycle{
  background-image: url(resources/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: pink;
  height: 25rem;
  width: 100%;
  padding-top: 1.5rem;
  align-items: center;
  flex-direction: column;
}

#h3h1{
  background-color: black;
  font-weight: bold;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

h3{
  font-size: 1rem;
}

h1{
  font-size: 2rem;
  padding-top: 0.25rem;
}
/*NAVIGATION*/

a{
  color: white;
}

.containernavigation{
  display: block;
  background-color: firebrick;
  width: 100%;
  padding: 0.75rem 0;
}

/*PRODUCT GRID*/

.containerproduct{

}

/*LOCATION/HOURS*/

.containerlocation{
  display: inline-flex;
}

/*FOOTER*/

footer{
  height: 5rem;
  background-color: black;
  color: white;
  text-align: left;

}
